<div class="container">
    <div class="panel investment-page">
        <div class="panel-heading">
            <h2 data-bind='text: name'>Investment</h2>
        </div>
        <div class="panel-body container-fluid">
            <p class="row">
                <div class="col-md-6">
                    <h4>Details</h4>
                </div>
            </p>
            <p class="row">
                <div class="col-md-6">
                    <h4>Transactions</h4>
                </div>
            </p>
        </div>
    </div>
</div>
