<div class="well" id="signup">
    <div class="span">
        <h1>Simple Signup and Login</h1>

        <p>
            <label>email :</label>
            <input type="text" class="input" placeholder="email" data-bind="value: userName">
            <label> password :</label>
            <input type="password" class="input" placeholder="Password" data-bind="value: userPassword">
        </p>
        <p>
        <a class="btn btn-default btn-small" data-bind="click: $root.goToLogin">
            Log In
        </a>
        </p>
    </div>
</div>